{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">Detalles del Paciente</h1>
    <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
    <p><strong>RUT:</strong> {{ paciente.rut }}</p>
    <p><strong>Cantidad de Sesiones:</strong> {{ paciente.cantidad_sesiones }}</p>

    <form method="post">
        {% csrf_token %}
        <h3>Sesiones</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Asistencia</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {{ sesiones_formset.management_form }}
                {% for form in sesiones_formset %}
                <tr>
                    <td>{{ form.fecha }}</td>
                    <td>{{ form.hora }}</td>
                    <td>{{ form.asistio }}</td>
                    <td>{{ form.observaciones }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
